<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Dashboard</h4></div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="#">Dashboard</a></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Usuarios registrados</h3>
                <ul class="list-inline two-part">
                    <li>
                        <div id="sparklinedash"></div>
                    </li>
                    <li class="text-right"><i class="ti-arrow-up text-success"></i> <span
                            class="counter text-success">26</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Servicios prestados</h3>
                <ul class="list-inline two-part">
                    <li>
                        <div id="sparklinedash2"></div>
                    </li>
                    <li class="text-right"><i class="ti-arrow-up text-purple"></i> <span
                            class="counter text-purple">34</span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="white-box analytics-info">
                <h3 class="box-title">Anuncios publicados</h3>
                <ul class="list-inline two-part">
                    <li>
                        <div id="sparklinedash3"></div>
                    </li>
                    <li class="text-right"><i class="ti-arrow-up text-info"></i> <span
                            class="counter text-info">58</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="white-box">
                <h3 class="box-title">Intercambio de serkens</h3>
                <ul class="list-inline text-right">
                    <li>
                        <h5><i class="fa fa-circle m-r-5 text-info"></i>Por servicio prestado</h5></li>
                    <li>
                        <h5><i class="fa fa-circle m-r-5 text-inverse"></i>Comprados</h5></li>
                </ul>
                <div id="ct-visits" style="height: 405px;"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Servicios recientes</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>ANUNCIO</th>
                            <th>STATUS</th>
                            <th>FECHA</th>
                            <th>PRECIO FINAL</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each appointments}}
                            <tr>
                                <td>{{@index}}</td>
                                <td class="txt-oflo">{{this.ad.name}}</td>
                                <td>{{this.status}}</td>
                                <td class="txt-oflo">{{formatDate this.date}} {{formatHours this.date}}</td>
                                <td><span class="text-success">{{this.pendingTokens}} Serkens</span></td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- .col -->
        <div class="col-md-12 col-lg-8 col-sm-12">
            <div class="white-box">
                <h3 class="box-title">SERVICIOS REALIZADOS (2019- 2020)</h3>
                <div class="comment-center p-t-10">
                    <div id="ct-services" style="height: 405px;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="panel">
                <div class="sk-chat-widgets">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            ÚLTIMOS REGISTROS
                        </div>
                        <div class="panel-body">
                            <ul class="chatonline">
                                {{#each lastUsers}}
                                    <li>

                                        <a href="javascript:void(0)"><img src="/uploads/profile/{{this._id}}/{{this.profile_image}}"
                                                                          alt="user-img" class="img-circle"> <span>{{this.name}}<small
                                                class="text-success">{{this.city}}</small></span></a>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
</div>
<!-- /.container-fluid -->
<footer class="footer text-center"> 2020&copy; Serkens. All rights reserved.</footer>