<!DOCTYPE html>
<html>
<head>
    <title>Serkens - Backoffice</title>
    <link rel='stylesheet' href='/admin/libraries/bootstrap/dist/css/bootstrap.css'/>
    <link rel='stylesheet' href='/admin/plugins/sidebar-nav/dist/sidebar-nav.min.css'/>
    <link rel='stylesheet' href='/admin/plugins/toast-master/css/jquery.toast.css'/>
    <link rel='stylesheet' href='/admin/plugins/morrisjs/morris.css'/>
    <link rel='stylesheet' href='/admin/plugins/chartist-js/dist/chartist.min.css'/>
    <link rel='stylesheet' href='/admin/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css'/>
    <link rel='stylesheet' href='/admin/css/animate.css'/>
    <link rel='stylesheet' href='/admin/css/style.css'/>
    <link rel='stylesheet' href='/admin/css/colors/default.css'/>
    {{{ block 'stylesheets' }}}


</head>
<body class="fix-header">
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top m-b-0">
        <div class="navbar-header">
            <div class="top-left-part">
                <a class="logo" href="dashboard.html">
                    <b>
                        <img src="/admin/images/admin-logo.png" alt="home" class="dark-logo"/>
                        <img src="/admin/images/admin-logo-dark.png" alt="home" class="light-logo"/>
                    </b>
                    <span class="hidden-xs">
                            <img src="/admin/images/admin-text.png" alt="home" class="dark-logo"/>
                            <img src="/admin/images/admin-text-dark.png" alt="home" class="light-logo"/>
                        </span>
                </a>
            </div>
            <!-- /Logo -->
            <ul class="nav navbar-top-links navbar-right pull-right">
                <li>
                    <a class="nav-toggler open-close waves-effect waves-light hidden-md hidden-lg"
                       href="javascript:void(0)"><i class="fa fa-bars"></i></a>
                </li>
                <li>
                    <a class="profile-pic" href="#"> <img src="/uploads/profile/{{currentUser._id}}/{{currentUser.profile_image}}" alt="user-img"
                                                          width="36" class="img-circle"><b class="hidden-xs">{{currentUser.name}}</b></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav slimscrollsidebar">
            <div class="sidebar-head">
                <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span>
                </h3>
            </div>
            <ul class="nav" id="side-menu">
                <li style="padding: 70px 0 0;">
                    <a href="/admin" class="waves-effect"><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i>Dashboard</a>
                </li>
                <li>
                    <a href="/admin/users" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i>Usuarios</a>
                </li>
                <li>
                    <a href="/admin/ads" class="waves-effect"><i class="fa fa-database fa-fw" aria-hidden="true"></i>Anuncios</a>
                </li>
                <li>
                    <a href="/admin/categories" class="waves-effect"><i class="fa fa-list fa-fw" aria-hidden="true"></i>Categorías</a>
                </li>
                <li>
                    <a href="/admin/levels" class="waves-effect"><i class="fa fa-star fa-fw" aria-hidden="true"></i>Niveles</a>
                </li>
                <li>
                    <a href="blank.html" class="waves-effect"><i class="fa fa-columns fa-fw" aria-hidden="true"></i>Mediaciones</a>
                </li>
                <li>
                    <a href="404.html" class="waves-effect"><i class="fa fa-cogs fa-fw" aria-hidden="true"></i>Configuración</a>
                </li>

            </ul>
        </div>

    </div>
    <div id="page-wrapper">
        {{{body}}}
    </div>
</div>
</body>
<script src="/admin/plugins/jquery/dist/jquery.min.js"></script>
<script src="/admin/libraries/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/admin/plugins/sidebar-nav/dist/sidebar-nav.min.js"></script>
<script src="/admin/plugins/sidebar-nav/dist/sidebar-nav.min.js"></script>
<script src="/admin/javascript/jquery.slimscroll.js"></script>
<script src="/admin/javascript/waves.js"></script>
<script src="/admin/plugins/waypoints/lib/jquery.waypoints.js"></script>
<script src="/admin/plugins/counterup/jquery.counterup.min.js"></script>
<script src="/admin/plugins/chartist-js/dist/chartist.min.js"></script>
<script src="/admin/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
<script src="/admin/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="/admin/javascript/custom.min.js"></script>
<script src="/admin/javascript/dashboard1.js"></script>
<script src="/admin/plugins/toast-master/js/jquery.toast.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
{{{ block 'javascripts' }}}
</html>
